.cornerMenu {
    position: fixed;
    bottom: 24px;
    left: 0;

    padding: 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 5px;
}

@media screen and (max-width: 1200px) {
    .cornerMenu {
        display: none;
    }
}

.cornerMenuRow {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 7px;
    padding: 8px;
    border-radius: 5px;
    width: auto;
    cursor: pointer;
}

.cornerMenuRow:hover {
    background-color: #0030E0;
    transition-duration: 200ms;
}

.cornerMenuRow > img {
    margin-left: auto;
}

.cornerMenuRow > p {
    margin: 0;
}

.langBtnContainer{
    position: fixed;
    bottom: 4px;
    left: 10px;
    background-color: rgba(94, 94, 94, 0.432);
    border-radius: 1000px;
}
.langBtn{
    display: inline-block;
    background-color: rgba(255, 255, 255, 0);
    font-family: sans-serif; 
    padding: 0px 8px;
    border-radius: 100px;
    margin-left: -6px;
}
.langBtnContainer > :first-child {
    margin-left: 0 !important;
}

.langBtn:hover {
    background-color: rgba(255, 255, 255, 0);
}

.selectedLangBtn {
    background-color: #3558d4 !important;
}