.cornerMenu {
    position: fixed;
    bottom: 0;
    left: 0;

    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

@media screen and (max-width: 1500px) {
    .cornerMenu {
        display: none;
    }
}

.cornerMenu > p {
    margin: 0;
}