.cornerMenu {
    position: fixed;
    bottom: 24px;
    left: 0;

    padding: 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 5px;
}

@media screen and (max-width: 1200px) {
    .cornerMenu {
        display: none;
    }
}

.cornerMenuRow {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 7px;
    padding: 8px;
    border-radius: 5px;
    width: auto;
    cursor: pointer;
}

.cornerMenuRow:hover {
    background-color: #0030E0;
    transition-duration: 200ms;
}

.cornerMenuRow > img {
    margin-left: auto;
}

.cornerMenuRow > p {
    margin: 0;
}

.langBtnContainer{
    vertical-align: baseline;
}

.langBtnContainer{
    position: fixed;
    bottom: 0;
    left: 10px;
}
.langBtn{
    margin: 4px;
    display: inline-block;
}