h2 {
    margin-bottom: 0;
}

.modButton {
    font-size: larger;
    margin: 0 auto;
    display: block;
    font-size: medium;
    margin-top: 10px;
}

.warning {
    color: red
}

.horizontalCenter {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}