h2 {
    margin-bottom: 0;
}

.modButton {
    font-size: larger;
    margin: 0 auto;
    display: block;
    font-size: medium;
    margin-top: 10px;
}

#modMenuTitle {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 10px;
}

#syncButton {
    padding: 5%;
    background-color: #e22424;
    font-size: x-large;
}

#syncButton:hover {
    background-color: #ff0000;
}

.syncingWindow {
    display: flex;
    flex-direction: column;
    gap: 10px;
}