.largeCenteredButton {
    font-size: larger;
    margin: 0 auto;
    display: block;
    font-size: medium;
    margin-top: 10px;
}

h2.warning {
    margin-top: 15px;
}

div:has(#permissionsButton) {
    position: relative;
}

#permissionsButton {
    position: absolute;
    right: 0;
    bottom: 0;
}