.iconButton {
    display: flex;
    align-items: center;
    padding: 5px;
    border-radius: 5px;
    transition-property: background-color;
    transition-duration: 300ms;
    cursor: pointer;
    --hover-bg-color: rgba(4, 92, 255, 0.699);
}

.iconButtonOff:hover {
    background-color: rgba(50, 50, 50, 0.7);
}

.iconButtonOn {
    background-color: var(--hover-bg-color);
}

.iconButtonWarning {
    background-color: rgba(196, 46, 46, 0.7);
}

.iconButtonWarning:hover {
    background-color: rgba(250, 64, 64, 0.7);

}