h1 {
    margin-top: 0;
    margin-bottom: 0;
}

h2 {
    margin-top: 0;
    margin-bottom: 0;
}

h3 {
    margin-top: 0;
    margin-bottom: 0;
}

a {
    color: rgb(0, 102, 255);
}

a:visited {
    color: rgb(183, 0, 255);
}

a {
    font-weight: bold;
}

html {
    overflow-y: scroll;
}

.container {
    background-color: rgba(0, 0, 0, 0.9);
    padding: 20px;
    margin: 5px;
    border-radius: 10px;
    width: fit-content;
}

.mainContainer {
    max-width: 40rem;
}

.codeBox {
    font-family: Consolas;
    background-color: #111111;
    border-radius: 5px;
    padding: 5px;    
}

button {
    background-color: #444444;
    border-radius: 10px;
    border-width: 0px;
    color: white;
    font-weight: 500;
    padding: 8px;
    transition-duration: 200ms;
}

button:hover {
    background-color: #0030E0;
    transition-duration: 200ms;
}

.warning {
    color: red;
    font-weight: bold;
}

@font-face {
    font-family: Consolas;
    src: local('Consolas'), format("ttf"), url("../fonts/Consolas.ttf")
}

@keyframes fadeIn {
    from { opacity: 0; }
    to   { opacity: 1; }
}

.fadeIn {
    animation: fadeIn 0.5s;
}

.hidden {
    width: 0;
    height: 0;
    overflow: hidden;
}

::-webkit-scrollbar-thumb {
    background: rgb(0.2, 0.2, 0.2, 0.5);
    margin-left: 2px;
    margin-right: 2px;
    border-radius: 5px;
  }

::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0.2);
  }

::-webkit-scrollbar {
    width: 7px;
}