.logWindowParent {
    position: relative;
}

.logWindow {
    padding: 0;
    padding-bottom: 5px;
    height: 30rem;
    overflow: auto;
    width: auto;
}

.logWindowControls {
    margin-left: auto;

    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    background-color: rgb(10, 10, 10);
    border-radius: 5px;
}

.logItem {
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 5px;
    margin: 0;
    word-break: break-word;
}

.logWithIcon {
    display: flex;
    gap: 10px;
    padding-bottom: 2px;
    padding-top: 2px;
}

.logWarning {
    background-color: rgba(255, 166, 0, 0.6);
}

.logError {
    background-color: rgba(253, 11, 11, 0.5);
}

.logDebug {
    opacity: 50%;
}