.modCard {
    grid-column: 1/4;
    display: grid;
    grid-template-columns: subgrid;
    grid-row-gap: 1em;
    padding: 13px;
}

.modName {
    margin: 0px;
    display: flex;
    flex-direction: column;
    grid-column: 1;
    justify-content: center;
}

.nameText {
    margin: 0px;
    font-weight: 500;
}

.modControls {
    margin-left: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10px;
    grid-column: 3;
}

#removeMod {
    background-color: rgb(179, 10, 10);
    padding: 3px;
    border-radius: 4px;
    transition-duration: 100ms;
}

#removeMod > img {
    width: 30px;
}

#removeMod:hover {
    background-color: rgb(209, 10, 10);
    transition-duration: 100ms;
}

.idVersionText {
    margin: 1px;
    font-size: 10px;
    font-weight: 100;
    font-style: italic;
}

.descriptionText {
    font-size: smaller;
    grid-column: 2;
    margin-right: 10px;
    margin-left: 10px;
    margin-top: auto;
    text-wrap: wrap;
    max-width: 30rem;
}

@media screen and (max-width: 700px) {
    .descriptionText {
        grid-row: 2;
        grid-column: 1/4;
        margin-left: 0;
        margin-right: 0;
    }
    #removeMod > img {
        width: 27px;
    }
}