.horizontalCenter {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.verticalCenter {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
}

#modMenuTitle {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 10px;
}

#syncButton {
    padding: 10px;
    height: 50px;
    background-color: #e22424;
    font-size: x-large;
}

#syncButton:hover {
    background-color: #ff0000;
}

#uploadButton {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: x-large;
    font-weight: 600;
    padding: 10px;
}

.syncingWindow:has(> .modal) {
    width: min(30rem, 90vw);
    max-width: none;
}

.syncingWindow {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.tab-header.selected {
    background-color: rgb(17, 39, 243);
}

.tab-header.selected:hover {
    background-color: rgb(17, 39, 243);
}

.noPadding {
    padding: 0;
}

.tab-header {
    background-color: rgb(25, 25, 25);
    padding: 10px;
    border-radius: 10px;
    transition: background 200ms;
}

.tab-header:hover {
    background-color: rgb(16, 34, 194);
}

.tab-header:has(img) {
    padding: 4px;
}

.tab-header > img {
    width: 40px;
}

.mod-list {
    display: grid;
    grid-auto-columns: auto 1fr auto;
    max-width: 1024px;
    grid-auto-rows: auto;
}

@media screen and (max-width: 700px) {
    .tab-header {
        font-size: 0.85em;
    }
}
@media screen and (max-width: 400px) {
    .tab-header {
        font-size: 0.7em;
    }
}

#toolsContainer > button {
    margin-bottom: 12px;
}