.modRepoCard {
    width: min(40rem, 95%);
    padding: 2px;
    display: grid;
    flex-direction: row;
    padding: 10px;
    gap: 20px;

    grid-template-columns: subgrid;
    grid-column: 1/3;
    justify-content: center;
    align-items: center;

    --cover-width: 10rem;
}

.auxOptions {
    display: flex;
    flex-direction: row;
    align-items: end;
    gap: 10px;
}

.defaultCover {
    display: flex;
    min-width: var(--cover-width);
    width: 100%;
    height: 100%;
    align-items: center;
    background-color: rgb(10, 10, 10);
    justify-content: center;
}

.cover {
    object-fit: contain;
    width: var(--cover-width);
}

.modDetails {
    margin-bottom: 0px;
    margin-top: 5px;
}

.author {
    margin-top: 3px;
    font-size: smaller;
    font-style: italic;
}

.installMod {
    margin-top: auto;
    margin-left: auto;

    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    font-size: large;
    font-weight: bold;
}

@media (max-width: 800px) {
    .modRepoCard {
        --cover-width: 5rem;
    }
    .cover {
        rotate: -90deg;
    }
    .installMod {
        max-height: 46px;
    }
}

.mod-repo-list {
    display: grid;
    grid-template-columns: auto 1fr auto;
    flex-direction: column;
    gap: 0.3em 1em;
    align-items: center;
}

.mod-repo-card-info {
    display: flex;
    height: 100%;
    flex-direction: column;
    gap: 0.1em;
}
.mod-repo-card-info>* {
    margin: 0.2em;
}