#modRepoCard {
    width: min(40rem, 95%);
    padding: 2px;
    display: grid;
    flex-direction: row;
    padding: 10px;
    gap: 20px;

    grid-template-columns: subgrid;
    grid-column: 1/4;
    justify-content: center;
    align-items: center;
}

#auxOptions {
    display: flex;
    flex-direction: row;
    gap: 10px;
    margin-top: auto;
}

#defaultCover {
    display: flex;
    min-width: 10rem;
    width: 100%;
    height: 100%;
    align-items: center;
    background-color: rgb(10, 10, 10);
    justify-content: center;
}

#cover {
    object-fit: contain;
    width: 10rem;
}

#modDetails {
    margin-bottom: 0px;
    margin-top: 5px;
}

#author {
    margin-top: 3px;
    font-size: smaller;
    font-style: italic;
}

#installMod {
    margin-top: auto;
    margin-left: auto;

    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    size: 5rem;
    font-size: larger;
    font-weight: bold;
}

.mod-repo-list {
    display: grid;
    grid-template-columns: auto 1fr auto;
    flex-direction: column;
    gap: 0.3em 1em;
    align-items: center;
}

.mod-repo-card-info {
    display: flex;
    height: 100%;
    flex-direction: column;
    gap: 0.1em;
}
.mod-repo-card-info>* {
    margin: 0.2em;
}