.openLogs {
    position: fixed;
    right: 0;
    padding: 0;
    background-color: rgba(0, 0, 0, 0.7);

    display: flex;
    align-items: center;
    gap: 5px;
    padding: 7px;
    border-radius: 0px 0px 0px 5px;
}