.modCard {
    width: min(40rem, 95%);
    justify-content:first baseline;
    align-items: center;
    margin-top: 0;
    margin-bottom: 0;
    display: flex;
    flex-direction: row;
    gap: 10px;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 10px;
    padding-right: 10px;
}

.modName {
    display: flex;
    flex-direction: column;
}

.nameText {
    margin-top: 10px;
    margin-bottom: 0px;
    font-weight: 500;
}

.modToggle {
    margin-left: auto;
}

.idVersionText {
    margin-top: 1px;
    font-size: 10px;
    font-weight: 100;
    font-style: italic;
}

.descriptionText {
    font-size: smaller;
}
